import React from "react";
import {
  LineChart, Line, XAxis, YAxis, CartesianGrid, Tooltip, Legend, ResponsiveContainer
} from "recharts";

interface Props {
  title: string;
  color: string;
  data: any[];
  labelField: string;
  dataField: string;
}

export const LineChartComponent: React.FC<Props> = ({ title, color, data, labelField, dataField }) => (
  <div style={{ width: "100%", height: 400, marginBottom: "20px" }}>
    <h3 style={{ textAlign: "center" }}>{title}</h3>
    <ResponsiveContainer width="100%" height="80%">
      <LineChart data={data}>
        <CartesianGrid strokeDasharray="3 3" />
        <XAxis dataKey={labelField} />
        <YAxis />
        <Tooltip />
        <Legend />
        <Line type="monotone" dataKey={dataField} stroke={color} />
      </LineChart>
    </ResponsiveContainer>
  </div>
);
