version: '3.8'

services:
  besser-wme-backend:
    image: artefacts.list.lu/besser/web_modeling_editor/backend:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
    volumes:
      - ./:/app
      - /var/run/docker.sock:/var/run/docker.sock
    working_dir: /app/besser
    environment:
      - PYTHONPATH=/app
    command: python -m besser.utilities.web_modeling_editor.backend.backend
    networks:
      - besser_network

  # Commented out - not needed without collaboration features
  # besser_redis:
  #   image: redis/redis-stack-server:latest
  #   container_name: besser_redis
  #   volumes:
  #     - apollon_redis_data:/data
  #   networks:
  #     - besser_network

  besser-wme-frontend:
    image: artefacts.list.lu/besser/web_modeling_editor/frontend:latest
    build:
      context: ./besser/utilities/web_modeling_editor/frontend
      dockerfile: Dockerfile
    container_name: besser-wme-frontend
    environment:
      - DEPLOYMENT_URL=${DEPLOYMENT_URL}
      - BACKEND_URL=${BACKEND_URL}
    restart: always
    networks:
      - besser_network
    ports:
      - "8080:80"

volumes:
  apollon_redis_data:
    driver: local

networks:
  besser_network:
    name: besser_network
    driver: bridge
