version: '3.8'

services:
  besser-wme-backend:
    image: artefacts.list.lu/besser/web_modeling_editor/backend:latest
    ports:
      - "9000:9000"
    working_dir: /app/besser
    env_file:
      - ./.env
    environment:
      - PYTHONPATH=/app
      - SMTP_HOST=${SMTP_HOST:-smtp.gmail.com}
      - SMTP_PORT=${SMTP_PORT:-587}
    volumes:
      - feedback_data:/app/besser/feedback_data
    command: python -m besser.utilities.web_modeling_editor.backend.backend
    restart: unless-stopped
    networks:
      - besser_network

  besser-wme-frontend:
    image: artefacts.list.lu/besser/web_modeling_editor/frontend:latest
    container_name: besser-wme-frontend
    env_file:
      - ./besser/utilities/web_modeling_editor/frontend/packages/webapp/webpack/.env
    restart: always
    networks:
      - besser_network
    ports:
      - "8080:8080"

  besser-wme-modeling-agent:
    image: artefacts.list.lu/besser/web_modeling_editor/modeling_agent:latest
    container_name: besser-wme-modeling-agent
    env_file:
      - ./.env
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - "8765:8765"
    restart: unless-stopped
    networks:
      - besser_network

volumes:
  feedback_data:
    driver: local

networks:
  besser_network:
    name: besser_network
    driver: bridge
