Arpeggio>=2.0.2
colorama>=0.4.6
iniconfig>=2.0.0
packaging>=24.2
pluggy>=1.2.0
pytest>=7.4.0
python-multipart>=0.0.17
setuptools>=68.2.2
jinja2>=3.1.2
antlr4-python3-runtime>=4.13.1
requests>=2.31.0
pydantic>=2.6.3
uvicorn>=0.28.0
SQLAlchemy>=2.0.29
httpx>=0.27.0
docker>=7.1.0
Django>=5.1.5
psycopg2>=2.9.10
pymysql>=1.1.1
pyodbc>=5.2.0
pillow>=11.1.0
numpy>=2.2.4
torch>=2.6.0
