### GET ALL
GET http://localhost:8080/api/{{ route }}
Accept: application/json

### GET BY ID
GET http://localhost:8080/api/{{ route }}/<id>
Accept: application/json

### CREATE
POST http://localhost:8080/api/{{ route }}
Content-Type: application/json

{

}

### UPDATE
PUT http://localhost:8080/api/{{ route }}/<id>
Content-Type: application/json

{

}

### DELETE
DELETE http://localhost:8080/api/{{ route }}/<id>
Accept: application/json
