package {{ package }};

{% for import in imports %}
import {{ import }};
{% endfor %}

@Repository
public interface I{{ cls }}Repository extends JpaRepository<{{ cls }}, {{ id_type }}> {

{% for method in methods %}
    {{ method.return_value }} {{ method.name }}({{ method.parameter }});
{% endfor %}

}
