package {{ package }};

import org.junit.jupiter.api.Test;
import org.springframework.boot.test.context.SpringBootTest;

@SpringBootTest
class {{ name }}Tests {

  @Test
  void contextLoads() {
  }

}
