declare module '*.json' {
  const value: any;
  export default value;
}

declare module './locales/en.json' {
  const value: Record<string, any>;
  export default value;
}

declare module './locales/fr.json' {
  const value: Record<string, any>;
  export default value;
}

declare module './locales/de.json' {
  const value: Record<string, any>;
  export default value;
}

declare module './locales/es.json' {
  const value: Record<string, any>;
  export default value;
}
