{% import "frontend/src/element.tsx.j2" as helper -%}
import React from "react";
import LineChartComponent from "./components/LineChartComponent";
import BarChartComponent from "./components/BarChartComponent";

const CANVAS_WIDTH = 900;
const CANVAS_HEIGHT = 1000;
{% raw %}
const renderElement = (el: any) => {
  return (
    <div
      key={el.id}
      style={{
        position: "absolute",
        left: `${el.x}%`,
        top: `${el.y}%`,
        width: `${el.width}%`,
        height: `${el.height}%`,
      }}
    >
      {el.type === "line_chart" ? (
        <LineChartComponent
          endpoint={el.endpoint}
          dataKey={el.dataKey}
          xKey={el.xKey}
          title={el.title}
          lineColor={el.lineColor}
          axisColor={el.axisColor}
          fontSize={el.fontSize}
          gridColor={el.gridColor}
          lineWidth={el.lineWidth}
        />
      ) : el.type === "bar_chart" ? (
        <BarChartComponent
          endpoint={el.endpoint}
          dataKey={el.dataKey}
          xKey={el.xKey}
          title={el.title}
          barColor={el.barColor}
          axisColor={el.axisColor}
          fontSize={el.fontSize}
          gridColor={el.gridColor}
          barWidth={el.barWidth}
        />
      ) : el.type === "text" ? (
        <div
          style={{
            width: "100%",
            height: "100%",
            display: "flex",
            alignItems: "center",
            justifyContent: "center",
            color: el.text_color,
            fontSize: el.font_size,
            fontWeight: "bold",
          }}
        >
          {el.content}
        </div>
      ) : el.type === "container" ? (
        <div
          style={{
            width: `100%`,
            height: `100%`,
            background: el.background,
            position: "relative",
          }}
        >
          {el.children?.map((child: any) => renderElement(child))}
        </div>
      ) : null}
    </div>
  );
};
{% endraw %}
const App: React.FC = () => {
  // General element list: can be "chart", "container" or "text"
  const elements = [
{% for element in view_elements %}
{{ helper.render_element(element, px_to_percent) }}{{ "," if not loop.last }}
{% endfor %}
  ];
{% raw %}
  return (
    <div
      style={{
        position: "relative",
        width: "100%",
        aspectRatio: "9 / 10",
        margin: "0 auto",
        background: "#f9f9f9",
        overflow: "hidden",
      }}
    >
      {elements.map((el) => renderElement(el))}
    </div>
  );
};
{% endraw %}
export default App;
