{% if package_name %}
package {{ package_name }};
{% endif %}
{% import "java_fields.py.j2" as java_fields %}
{% set attribs = [] %}
{% for attr in class_obj.attributes %}
    {% do attribs.append(java_fields.get_field(attr.type.name)) %}
    {% do attribs.append(attr.name) %}
{% endfor %}
{% set generals = namespace(names=[]) %}
{% set parent_attribs = [] %}
{% for parent in class_obj.parents() %}
    {% for attr in parent.attributes %}
        {% do parent_attribs.append(java_fields.get_field(attr.type.name)) %}
        {% do parent_attribs.append(attr.name) %}
    {% endfor %}
    {% set _ = generals.names.append(parent.name) %}
{% endfor %}
{% if "LocalDate" in attribs or  "LocalDate" in parent_attribs%}
import java.time.LocalDate;
{% endif %}
{% if "LocalDateTime" in attribs or "LocalDateTime" in parent_attribs %}
import java.time.LocalDateTime;
{% endif %}
{% if "LocalTime" in attribs or "LocalTime" in parent_attribs %}
import java.time.LocalTime;
{% endif %}
{% if "UUID" in attribs or "UUID" in parent_attribs %}
import java.util.UUID;
{% endif %}
import java.util.List;
import java.util.ArrayList;

{% set assocs = [] %}
{% set assocs_card_over_1 = [] %}
{% set self_assoc_names = [] %}
{% set inheritance = generals.names | join(', ') %}
{% if inheritance|length > 1 %}
    {% set extends = "extends " + inheritance %}
{% else %}
    {% set extends = "" %}
{% endif %}
public class {{ class_obj.name }} {{ extends }}{
{% for i in range(0, attribs|length, 2) %}
    private {{ attribs[i] }} {{ attribs[i+1] }};
{% endfor %}
{% for association in class_obj.associations %}
    {% if association.ends|length == 2 and association.name not in processed_associations %}
        {% set ends_list = association.ends | list %}
        {% set is_self_assoc = (ends_list[0].type.name == ends_list[1].type.name) %}
        {% if is_self_assoc %}
            {% for end in ends_list %}
                {% if end.is_navigable %}
                    {% if end.multiplicity.max > 1 %}
    private List<{{ end.type.name }}> {{ end.name }};
                        {% do assocs.append('List<'+end.type.name+'>') %}
                        {% do assocs.append(end.name) %}
                        {% do assocs_card_over_1.append(end.type.name) %}
                        {% do assocs_card_over_1.append(end.name) %}
                        {% do self_assoc_names.append(end.name) %}
                    {% else %}
    private {{ end.type.name }} {{ end.name }};
                        {% do assocs.append(end.type.name) %}
                        {% do assocs.append(end.name) %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% do processed_associations.append(association.name) %}
        {% else %}
            {% set ns = namespace(end1=None, end2=None) %}
            {% for end in association.ends %}
                {% set ns.end1 = end if end.type.name == class_obj.name else ns.end1 %}
                {% set ns.end2 = end if end.type.name != class_obj.name else ns.end2 %}
            {% endfor %}
            {% set class1_name = ns.end1.type.name %}
            {% set class2_name = ns.end2.type.name %}
            {# Generate field for end2 (the other class) if navigable - supports bidirectional associations #}
            {% if ns.end1.multiplicity.max > 1 and ns.end2.multiplicity.max > 1 and ns.end2.is_navigable %}
    private List<{{ class2_name }}> {{ ns.end2.name }};
                {% do assocs.append('List<'+class2_name+'>') %}
                {% do assocs.append(ns.end2.name) %}
                {% do assocs_card_over_1.append(class2_name) %}
                {% do assocs_card_over_1.append(ns.end2.name) %}
            {% elif ns.end1.multiplicity.max == 1 and ns.end2.multiplicity.max > 1 and ns.end2.is_navigable %}
    private List<{{ class2_name }}> {{ ns.end2.name }};
                {% do assocs.append('List<'+class2_name+'>') %}
                {% do assocs.append(ns.end2.name) %}
                {% do assocs_card_over_1.append(class2_name) %}
                {% do assocs_card_over_1.append(ns.end2.name) %}
            {% elif ns.end1.multiplicity.max == 1 and ns.end2.multiplicity.max == 1 and ns.end2.is_navigable %}
    private {{ class2_name }} {{ ns.end2.name }};
                {% do assocs.append(class2_name) %}
                {% do assocs.append(ns.end2.name) %}
            {% elif ns.end1.multiplicity.max > 1 and ns.end2.multiplicity.max == 1 and ns.end2.is_navigable %}
                {# Bidirectional: many-to-one association, generate back-reference to the one side #}
    private {{ class2_name }} {{ ns.end2.name }};
                {% do assocs.append(class2_name) %}
                {% do assocs.append(ns.end2.name) %}
            {% endif %}
            {# Don't mark as processed to support bidirectional associations - each class handles its own end #}
        {% endif %}
    {% endif %}
{% endfor %}

{% set params = [] %}
{% for i in range(0, attribs|length, 2) %}
    {% do params.append(attribs[i] + ' ' + attribs[i+1]) %}
{% endfor %}
{% if inheritance|length > 1 %}
    {% for i in range(0, parent_attribs|length, 2) %}
        {% do params.append(parent_attribs[i] + ' ' + parent_attribs[i+1]) %}
    {% endfor %}
{% endif %}
    public {{ class_obj.name }} ({{ params | join(', ') }}) {
{% if inheritance|length > 1 %}
        super(
    {%- for i in range(parent_attribs|length) %}
        {%- if i == parent_attribs|length - 1 -%}
    {{ parent_attribs[i]}});
        {% else -%}
            {%- if i % 2 == 1 -%}
    {{ parent_attribs[i]}}, {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
{% for i in range(attribs|length) %}
    {% if i % 2 == 1 %}
        this.{{ attribs[i] }} = {{ attribs[i] }};
    {% endif %}
{% endfor %}
{% for i in range(1, assocs|length) %}
    {% if i % 2 == 1 and assocs[i-1][:4] == "List" %}
        this.{{ assocs[i] }} = new ArrayList<>();
    {% endif %}
{% endfor %}
    }

{% if assocs_card_over_1 != [] %}
{% set params2 = [] %}
{% for i in range(0, attribs|length, 2) %}
    {% do params2.append(attribs[i] + ' ' + attribs[i+1]) %}
{% endfor %}
{% if inheritance|length > 1 %}
    {% for i in range(0, parent_attribs|length, 2) %}
        {% do params2.append(parent_attribs[i] + ' ' + parent_attribs[i+1]) %}
    {% endfor %}
{% endif %}
{% for i in range(0, assocs_card_over_1|length, 2) %}
    {% do params2.append('List<' + assocs_card_over_1[i] + '> ' + assocs_card_over_1[i+1]) %}
{% endfor %}
    public {{ class_obj.name }} ({{ params2 | join(', ') }}) {
{% if inheritance|length > 1 %}
        super(
    {%- for i in range(parent_attribs|length) %}
        {%- if i == parent_attribs|length - 1 -%}
    {{ parent_attribs[i]}});
        {% else -%}
            {%- if i % 2 == 1 -%}
    {{ parent_attribs[i]}}, {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
{% for i in range(attribs|length) %}
    {% if i % 2 == 1 %}
        this.{{ attribs[i] }} = {{ attribs[i] }};
    {% endif %}
{% endfor %}
{% for i in range(1, assocs|length) %}
    {% if i % 2 == 1 and assocs[i-1][:4] == "List" %}
        this.{{ assocs[i] }} = {{ assocs[i] }};
    {% endif %}
{% endfor %}
    }
{%- endif %}

{% for i in range(0, attribs|length, 2) %}
{% set fname = attribs[i+1][0]|upper ~ attribs[i+1][1:] %}

    public {{ attribs[i] }} get{{ fname }}() {
        return this.{{ attribs[i+1] }};
    }

    public void set{{ fname }}({{ attribs[i] }} {{ attribs[i+1] }}) {
        this.{{ attribs[i+1] }} = {{ attribs[i+1] }};
    }
{% endfor %}
{% for i in range(0, assocs|length, 2) %}
{% set aname = assocs[i+1][0]|upper ~ assocs[i+1][1:] %}

    {% if assocs[i][:4] == "List" %}
    {% set element_type = assocs[i][5:-1] %}
    public {{ assocs[i] }} get{{ aname }}() {
        return this.{{ assocs[i+1] }};
    }

    {% if assocs[i+1] in self_assoc_names %}
    public void addTo{{ aname }}({{ element_type }} {{ element_type|lower }}) {
        this.{{ assocs[i+1] }}.add({{ element_type|lower }});
    }
    {% else %}
    public void add{{ element_type }}({{ element_type }} {{ element_type|lower }}) {
        this.{{ assocs[i+1] }}.add({{ element_type|lower }});
    }
    {% endif %}
    {% else %}
    public {{ assocs[i] }} get{{ aname }}() {
        return this.{{ assocs[i+1] }};
    }

    public void set{{ aname }}({{ assocs[i] }} {{ assocs[i+1] }}) {
        this.{{ assocs[i+1] }} = {{ assocs[i+1] }};
    }
    {% endif %}
{% endfor %}
{% set generated_assoc_methods = [] %}
{% for i in range(0, assocs|length, 2) %}
    {% if assocs[i][:4] == "List" %}
        {% set element_type = assocs[i][5:-1] %}
        {% if assocs[i+1] in self_assoc_names %}
            {% do generated_assoc_methods.append('addTo' ~ assocs[i+1][0]|upper ~ assocs[i+1][1:]) %}
        {% else %}
            {% do generated_assoc_methods.append('add' + element_type) %}
        {% endif %}
    {% endif %}
{% endfor %}
{# A stub has to compile whatever it returns. An empty body is only valid for
   void, so anything else fails the whole file with "missing return statement";
   throwing also keeps a missing implementation from passing for a real answer,
   the way `return null` would. #}
{% for method in class_obj.methods %}
    {% if method.name not in generated_assoc_methods %}
        {% set ns = namespace(return_type="void") %}
        {% if method.type %}
            {% set ns.return_type = java_fields.get_field(method.type.name) | trim %}
        {% endif %}

    {{ method.visibility }} {{ ns.return_type }} {{ method.name }}(
        {%- for param in method.parameters -%}
            {{ java_fields.get_field(param.type.name) | trim }} {{ param.name }}{% if not loop.last %}, {% endif %}
        {%- endfor -%}
    ) {
        // TODO: implement {{ method.name }}
        throw new UnsupportedOperationException("{{ method.name }} is not implemented");
    }
    {% endif %}
{% endfor %}
}
