# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

{% set ns = namespace(gcp=false, aws=false) %}
{% if (public_cluster.provider | class_name) == 'GCP' %}
    {% set ns.gcp = true %}
{% elif (public_cluster.provider | class_name) == 'AWS' %}
    {% set ns.aws = true %}
{% endif %}

{%if ns.gcp%}
variable "gke_username" {
  default     = "{{ public_cluster.user }}"
  description = "gke username"
}

variable "gke_password" {
  default     = "{{ public_cluster.password }}"
  description = "gke password"
}

variable "gke_num_nodes" {
  default     = {{ public_cluster.num_nodes }}
  description = "number of gke nodes"
}
{%endif%}