from datetime import datetime, date, time
from typing import List, Optional, Union, Set
from enum import Enum
from pydantic import BaseModel

{% set ns = namespace(abstract_found=false, id_found = false, same_name_found = false )-%}
{% for class in domain.get_classes() -%}
    {% if class.is_abstract -%}
        {% set ns.abstract_found = true -%}
    {% endif -%}    
{% endfor -%}
{% if ns.abstract_found %}
from abc import ABC, abstractmethod
{% endif %}

############################################
# Enumerations are defined here
############################################

{# Handle enums first #}
{% for enum in domain.get_enumerations() -%}
class {{ enum.name }}(Enum):
{% for literal in enum.literals %}
    {{ literal.name }} = "{{ literal.name }}"
{% endfor %}

{% endfor -%}

############################################
# Classes are defined here
############################################
{% for class in sorted_classes %}
class {{ class.name }}{% if backend %}Create{% endif %}{% if class.parents() %}({% for parent in class.parents() %}{{parent.name}}{% if backend %}Create{% endif %}{{ ", " if not loop.last else "" }}{% endfor %}){% elif class.is_abstract %}(ABC, BaseModel){% else %}(BaseModel){% endif %}:
    {% set ns.id_found = false -%}
    {%- set inherited_attr_names = [] -%}
    {%- if class.parents() -%}
        {%- for attr in class.inherited_attributes() -%}
            {%- do inherited_attr_names.append(attr.name) -%}
        {%- endfor -%}
    {%- endif %}
    {% for attribute in class.attributes %}
        {%- if attribute.is_id or attribute.name == 'id' %}
            {%- set ns.id_found = true %}
        {%- endif %}
        {%- if attribute.name not in inherited_attr_names %}
    {{ attribute.name }}: {{ attribute.type.name }}{% if attribute.is_id %}  # the id{% endif %}

        {% endif %}
    {% endfor %}
    {%- if not ns.id_found and not backend and not class.parents() %}
    id: int  # id created
    {% endif %}
    {%- for association in class.associations %}
        {%- if association.ends|length == 2 %}
            {%- set ns.end1 = none %}
            {%- set ns.end2 = none %}
            {%- for end in association.ends %}
                {%- if end.type.name == class.name %}
                    {%- set ns.end1 = end %}
                {%- else %}
                    {%- set ns.end2 = end %}
                {%- endif %}
            {%- endfor %}
            {%- if ns.end1 and ns.end2 %}
                {%- if ns.end1.multiplicity.max > 1 and ns.end2.multiplicity.max > 1 %}
                    {%- if nested_creations %}
                        {%- if backend %}
    {{ ns.end2.name }}: Optional[List[Union["{{ ns.end2.type.name }}Create", int]]] = None  # N:M Relationship
                        {% endif %}
                        {%- if not backend %}
    {{ ns.end2.name }}: Set["{{ ns.end2.type.name }}"]  # N:M Relationship
                        {%- endif %}
                    {%- else %}
    {{ ns.end2.name }}: List[int]  # N:M Relationship
                    {% endif %}
                {%- elif ns.end1.multiplicity.max > 1 and ns.end2.multiplicity.max == 1 %}
                    {%- if backend %}
                        {%- if ns.end2.multiplicity.min > 0 %}
    {{ ns.end2.name }}: int  # N:1 Relationship (mandatory)
                        {% else %}
    {{ ns.end2.name }}: Optional[int] = None  # N:1 Relationship (optional)
                        {% endif %}
                    {% else %}
    {{ ns.end2.name }}: "{{ ns.end2.type.name }}"  # N:1 Relationship
                    {% endif %}
                {%- elif ns.end1.multiplicity.max == 1 and ns.end2.multiplicity.max > 1 %}
                    {%- if backend %}
    {{ ns.end2.name }}: Optional[List[int]] = None  # 1:N Relationship
                    {% else %}
    {{ ns.end2.name }}: List["{{ ns.end2.type.name }}"]  # 1:N Relationship
                    {% endif %}
                {%- elif ns.end1.multiplicity.max == 1 and ns.end2.multiplicity.max == 1 %}
                    {%- if backend %}
                        {%- if ns.end2.multiplicity.min > 0 %}
    {{ ns.end2.name }}: int  # 1:1 Relationship (mandatory)
                        {% else %}
    {{ ns.end2.name }}: Optional[int] = None  # 1:1 Relationship (optional)
                        {% endif %}
                    {% else %}
    {{ ns.end2.name }}: "{{ ns.end2.type.name }}"  # 1:1 Relationship
                    {% endif %}
                {%- endif %}
            {%- endif %}
        {%- endif %}
    {%- endfor %}
    {%- if not class.attributes and not class.associations %}
    pass
    {% endif %}

{% endfor %}