"""BESSER Action Language (BAL) standard library functions."""


async def BAL_size(sequence: list) -> int:
    return len(sequence)


async def BAL_is_empty(sequence: list) -> bool:
    return len(sequence) == 0


async def BAL_add(sequence: list, elem) -> None:
    sequence.append(elem)


async def BAL_remove(sequence: list, elem) -> None:
    sequence.remove(elem)


async def BAL_contains(sequence: list, elem) -> bool:
    return elem in sequence


async def BAL_filter(sequence: list, predicate) -> list:
    return [elem for elem in sequence if predicate(elem)]


async def BAL_forall(sequence: list, predicate) -> bool:
    for elem in sequence:
        if not predicate(elem):
            return False
    return True


async def BAL_exists(sequence: list, predicate) -> bool:
    for elem in sequence:
        if predicate(elem):
            return True
    return False


async def BAL_one(sequence: list, predicate) -> bool:
    found = False
    for elem in sequence:
        if predicate(elem):
            if found:
                return False
            found = True
    return found


async def BAL_is_unique(sequence: list, mapping) -> bool:
    mapped = [mapping(elem) for elem in sequence]
    return len(set(mapped)) == len(mapped)


async def BAL_map(sequence: list, mapping) -> list:
    return [mapping(elem) for elem in sequence]


async def BAL_reduce(sequence: list, reduce_fn, aggregator) -> any:
    for elem in sequence:
        aggregator = reduce_fn(aggregator, elem)
    return aggregator
