{% import "helpers.py.j2" as helper -%}
from typing import List, Optional
from sqlalchemy import Column, ForeignKey, Boolean, String, Date, Time, DateTime, Float, Integer, Enum
from sqlalchemy.orm import Mapped, mapped_column
from datetime import datetime as dt_datetime, time as dt_time, date as dt_date
from app.models._base import Base
{% for enum_name in used_enums -%}
from app.models._enums import {{ enum_name }}
{% endfor %}


class {{ asso_class.name }}(Base):
    __tablename__ = "{{asso_class.name.lower()}}"
    {%- for end in asso_class.association.ends %}
    {%- set ns = namespace(other_end_max = 0) %}
    {%- for other_end in asso_class.association.ends if other_end != end %}
        {%- set ns.other_end_max = other_end.multiplicity.max %}
    {%- endfor %}
    {{ end.name }}_id: Mapped[str] = mapped_column(ForeignKey("{{ end.type.name.lower() }}.{{ids.get(end.type.name, 'id')}}"), primary_key=True
    {%- if end.multiplicity.max == 1 and ns.other_end_max == 1 %}, unique=True{% endif %})
    {%- endfor %}
    {%- for attribute in sort(asso_class.attributes) %}
    {%- set is_pk = attribute.is_id or (attribute.name == ids.get(asso_class.name)) %}
    {%- set nullable = attribute.is_optional and not is_pk %}
    {{ attribute.name }}: Mapped[{% if nullable %}Optional[{{ helper.mapped_type(attribute.type.name) }}]{% else %}{{ helper.mapped_type(attribute.type.name) }}{% endif %}] = mapped_column({% if attribute.type.name in enumerations|map(attribute='name') %}Enum({{ attribute.type.name }}){% else %}{{types[attribute.type.name]}}{% endif %}
    {%- if is_pk %}, primary_key=True{% endif %}
    {%- if nullable %}, nullable=True{% endif %}
    {%- if attribute.default_value is not none %}, default={% if attribute.type.name == 'str' or attribute.type.name == 'string' %}"{{ attribute.default_value }}"{% elif attribute.type.name == 'bool' %}{{ attribute.default_value | capitalize }}{% elif attribute.type.__class__.__name__ == 'Enumeration' %}{{ attribute.type.name }}.{{ attribute.default_value }}{% else %}{{ attribute.default_value }}{% endif %}{% endif %})
    {%- endfor %}
